<h1>Log In</h1>


<form action="/auth/login" method="POST">

  <div class="form-login">
    <label for="email">
      <input type="email" class="form-login-info" name="email" placeholder="Email" />
    </label>
  </div>

  <div class="form-login">
    <label>
      <input type="password" class="form-login-info" name="password" placeholder="Password" /></label>
  </div>

  <button type="submit" class="btn btn-outline-primary">Log In</button>

  {{#if errorMessage}}
  <p class="error">{{errorMessage}}</p>
  {{/if}}
</form>