<h2>Log In</h2>


<form action="/auth/login" method="POST" class="form-wrapper">

    <input type="email" class="form-login" name="email" placeholder="Email" />

    <input type="password" class="form-login" name="password" placeholder="Password" />

  <button type="submit" class="btn-login">Login</button>

  {{#if errorMessage}}
  <p class="error">{{errorMessage}}</p>
  {{/if}}
  <div class="login-footer">
    <span>Don't have an account?</span><a href="/auth/signup">Create new one</a>
  </div>
</form>