<div id="form">
  <h2>Sign Up</h2>
  <form action="/auth/signup" method="POST" class="form-wrapper">


    <input type="text" class="form-login" name="username" placeholder="Your username" />
    <input type="email" class="form-login" name="email" placeholder="Your email" />
    <input type="password" class="form-login" name="password" placeholder="Your password" />

    <button type="submit" class="btn-login">Sign Up</button>


    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}

    <div class="login-footer">
      <span>Already have an account?</span><a href="/auth/login">Sign in</a>
    </div>
  </form>
</div>