<h1>JOB TRACKER</h1>
<hr>
<p>Free job tracker to confidently manage your job search</p>


<div>

  <a href="/joblist">Tracker your jobs applications</a>
  <a class="btn-home" href="/auth/login">Log In</a>
  <a class="btn-home" href="/auth/signup">Sign Up</a>

</div>

<hr>
<img src="/images/bg.jpg" class="img-fluid rounded" alt="searching on laptop">

{{#if user}}
<p>Hello {{user.username}}</p>
{{/if}}