<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand " href="/"><h1>JOB TRACKER</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">      
      <li class="nav-item">
        <a class="nav-link" href="/joblist">Jobs applications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/login">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/signup">Sign Up</a>
      </li>      
    </ul>    
  </div>
</nav>

<div id="homeDiv" class="homeContainer">
  <img src="/images/banner_700h.png" alt="banner">
  <div class="homeCentered">
    <h3 class="homeInhalt" style="font-size: 20px; top: 25%;">Ready to start your hunt?</h3>
    </div>
  <div class="homeSubCentered">
    <h1 class="homeInhalt" style="font-size: 30px;">Start tracking with us!</h1>
    </div>
  <div class="homeButton">
    <p class="text-center"><a class="btn-main" style="width:150px" href="/auth/signup">Join</a></p>
  </div>
  <div class="homeSubButton">
    <p class="text-center"><a class="btn-main" style="width:80px;" href="/joblist">Start</a></p>
  </div>
</div>


{{!-- Ready to start your hunt? Start tracking with us! --}}





