/* 
Palette 1:
https://coolors.co/ffffff-00a7e1-00171f-003459-007ea7

Palette 2:
https://coolors.co/ccdbdc-9ad1d4-80ced7-007ea7-003249

Palette 3:
https://coolors.co/d64045-e9fff9-9ed8db-467599-1d3354
*/

body {
  margin: 0;
  padding: 0;
}

#paletteOne {
  color: #ffffff;
  color: #00A7E1;
  color: #00171F;
  color: #003459;
  color: #007EA7;
}

#paletteTwo {
  color: #CCDBDC;
  color: #9AD1D4;
  color: #80CED7;
  color: #007EA7;
  color: #003249;
}

#paletteThree {
  color: #D64045;
  color: #E9FFF9;
  color: #9ED8DB;
  color: #467599;
  color: #1D3354;
}


body {
  padding: 50px;
  font-family: 12px Arial, Helvetica, sans-serif;

  padding: 0px;
  /*   background-color: #9AD1D4; */
  /*   background-color: #80CED7; */
  /*   background-color: #9ED8DB; */
}

a {
  color: #00b7ff;
}

h1 {
  color: #80CED7;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}

h2 {
  color: black;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
}


.jobBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.joblistHeader {
  font-size: 0.8rem;
  font-weight: bold;
  color: #00171F;
  text-align: center;
  flex-wrap: wrap;
}

.joblistContent {
  font-size: 0.75rem;
  text-align: center;
  flex-wrap: wrap;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.form-control {
  padding: 10px;
  width: 70%;
  height: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.01);
  border: none;
  border-radius: 0%;
  border-bottom: 1px solid #80CED7;
}


.form-control:focus {
  box-shadow: none;
  border-bottom: 2.5px solid #80CED7;
}

.form-control::placeholder {
  color: gray;
}

.form-control:focus::placeholder {
  font-size: 10px;
  color: #80CED7;
  font-family: Arial, Helvetica, sans-serif;
}


input[type="date"] {
  color: gray;
}

select option[value=""] {
  color: gray;
}

.form-login {
  width: 100%;
  margin-bottom: 10px;
  padding: 6px;
  border: 1px solid rgb(176, 174, 174);
  border-radius: 50px;
}

.form-login:focus {
  outline-width: 10px;
  outline-color: #80CED7;  
}

.form-login::placeholder {
  color: rgb(176, 174, 174); 
}


.btn-login {
  width: 100%;
  display: flex;
  justify-content: center;  
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #80CED7;
  background-color: #80CED7;
  border-radius: 50px;
  color: white;
  padding: 6px;
}

.btn-login:focus {  
  outline-color: #80CED7;
}

.btn-login:hover {
  background-color: white;
  border-color: #80CED7;
  color: #80CED7;
}

.form-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .form-wrapper {
    width: 20%;
  }
}

.login-footer{
  display: flex;
  margin-top: 10px;
  justify-content: center;
  color: gray;
}

.login-footer a{
  color: #80CED7;
  margin-left: 0.3rem;
}