
/* 
Palette 1:
https://coolors.co/ffffff-00a7e1-00171f-003459-007ea7

Palette 2:
https://coolors.co/ccdbdc-9ad1d4-80ced7-007ea7-003249

Palette 3:
https://coolors.co/d64045-e9fff9-9ed8db-467599-1d3354
*/

body {
  margin: 10px;
}

#paletteOne {
  color: #ffffff;
  color: #00A7E1;
  color: #00171F;
  color: #003459;
  color: #007EA7;
}

#paletteTwo {
  color: #CCDBDC;
  color: #9AD1D4;
  color: #80CED7;
  color: #007EA7;
  color: #003249;
}

#paletteThree {
  color: #D64045;
  color: #E9FFF9;
  color: #9ED8DB;
  color: #467599;
  color: #1D3354;
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0px;
/*   background-color: #9AD1D4; */
/*   background-color: #80CED7; */
/*   background-color: #9ED8DB; */
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.jobBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.joblistHeader {
  font-size: 0.8rem;
  font-weight: bold;
  color: #00171F;
  text-align: center;
  flex-wrap: wrap;
}

.joblistContent {
  font-size: 0.75rem;
  text-align: center;
  flex-wrap: wrap;
}


